<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free resto catalogue for you">
  <meta name="theme-color" content="##884A39" />

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

  <title>Los Buenos Restaurantes</title>
</head>

<body>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>Los Buenos Restaurantes</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/like">Liked Resto</a></li>
        <li><a target="_blank" rel="noopener" href="https://www.instagram.com/afif_rayhan11/">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div class="jumbo">
    <div class="hero">
      <div class="hero_inner">
        <h1 class="hero_title">Los Buenos Restaurantes</h1>
        <p class="hero_subtitle">
          Find The Best Restaurants in Indonesia!
        </p>
      </div>
    </div>
  </div>
  <main id="mainContent"></main>
  <footer>
    <p>Copyright &copy; 2023 - Los Buenos Restaurantes</p>
  </footer>
  </div>
</body>
</html>
